<template>
  <div class="i-button">
    <nuxt-link v-if="to" tag="button" type="button" class="i-button__button" :to="to">
      <slot />
    </nuxt-link>
    <button v-else type="button" class="i-button__button">
      <slot />
    </button>
    <div class="i-button__shadow"></div>
  </div>
</template>

<script>
  export default {
    props: {
      to: {
        type: String,
      },
    },
  };
</script>

<style lang="scss">
  .i-button {
    position: relative;
    width: 100%;
    height: rs(58px);
  }

  .i-button__button {
    position: relative;
    z-index: 1;
    width: 100%;
    height: 100%;
    border: 0;
    background: linear-gradient(90deg, #fc866f 0%, #fea263 93.31%);
    border-radius: rs(58px);
    font-weight: bold;
    font-size: rf(16px);
    color: #fff;
    cursor: pointer;
  }

  .i-button__shadow {
    position: absolute;
    z-index: 0;
    bottom: 0;
    left: 50%;
    transform: translate(-50%, 5px);
    width: rs(270px);
    height: rs(26px);
    background: linear-gradient(90deg, #fc856e 0%, #fea263 100%);
    filter: blur(30px);
    border-radius: 20px;
  }
</style>
