<template>
  <div class="i-wrapper d-flex flex-column" :class="{ 'align-items-center': true, 'justify-content-center': !top }">
    <span class="i-wrapper__resolution">{{ width }}x{{ height }}</span>
    <slot />
  </div>
</template>

<script>
  export default {
    props: {
      top: {
        type: Boolean,
        default: false,
      },
    },

    data() {
      return {
        width: 0,
        height: 0,
      };
    },

    mounted() {
      this.updateResolution();
      window.addEventListener('resize', this.updateResolution);
    },

    beforeDestroy() {
      window.removeEventListener('resize', this.updateResolution);
    },

    methods: {
      updateResolution() {
        this.width = window.innerWidth;
        this.height = window.innerHeight;
      },
    },
  };
</script>

<style lang="scss">
  .i-wrapper {
    position: relative;
    min-height: 100%;
    max-width: 480px;
    margin: 0 auto;
    background: linear-gradient(228.35deg, #ffb15e 1.93%, #fb7474 82.66%);
    color: #575167;
    overflow: hidden;
  }

  .i-wrapper__resolution {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    padding: 3px;
  }
</style>
