@use 'sass:math';

// Size relative to Width

@function rw($size) {
  @return math.div($size, 375px) * 100%;
}

// Size relative to Height

@function rh($size) {
  @return math.div($size, 812px) * 100%;
}

// Relative Width

@function rf($size) {
  @return math.div($size, 16px) * 1rem;
}

// Relative Size

@function rs($size) {
  @return calc(#{$size} * var(--scale));
}

@mixin placeholder {
  &::-webkit-input-placeholder { @content; }
  &::-moz-placeholder { @content; }
  &:-moz-placeholder { @content; }
  &:-ms-input-placeholder { @content; }
}
