<template>
  <i-wrapper>
    <nuxt-link to="step-2" class="next">step 2 &gt;</nuxt-link>
    <img src="~assets/images/bubbles-white.svg" class="bubbles" />
    <img src="~assets/images/scientist-telescope.png" class="scientist-logo" />
    <span class="loading-text">Loading ...</span>
    <img src="~assets/images/circles-white.svg" class="circles circles--loading" />
  </i-wrapper>
</template>

<script>
  export default {
    layout: 'default',
  };
</script>

<style lang="scss">
  .scientist-logo {
    position: relative;
    z-index: 1;
    width: rw(199px);
  }

  .loading-text {
    font-size: rf(18px);
    font-weight: bold;
    color: #fff;
    margin-top: rw(22px);
  }
</style>
