<template>
  <i-wrapper top>
    <nuxt-link to="step-3" class="next">step 3 &gt;</nuxt-link>
    <img src="~assets/images/circles-white.svg" class="circles circles--topBack" />
    <img src="~assets/images/stars-white.svg" class="stars" />
    <i-curtain>
      <img src="~assets/images/figures-colored.svg" class="figures-colored" />
      <img src="~assets/images/scientist-circle.png" class="scientist-circle" />
      <div class="title text-center px-1">Glad to see you!</div>
      <div class="normal-text text-center px-1">
        To give you the most accurate prediction, I need to know some information about you.
      </div>
      <img src="~assets/images/shield-success.png" class="shield-success" />
      <div class="normal-text text-center px-1">
        Don't worry, all the information is protected and will be saved on your device.
      </div>
      <template #bottom>
        <i-button to="step-3">GET STARTED</i-button>
      </template>
    </i-curtain>
  </i-wrapper>
</template>

<script>
  export default {
    layout: 'default',
  };
</script>

<style lang="scss">
  .figures-colored {
    position: absolute;
    z-index: 0;
    top: rs(30px);
    right: rs(7px);
    width: rw(360px);
  }

  .scientist-circle {
    width: rw(128px);
    margin-top: rs(35px);
  }

  .title {
    font-weight: bold;
    font-size: rf(20px);
    margin-top: rs(15px);
  }

  .normal-text {
    font-size: rf(16px);
    margin-top: rs(15px);
  }

  .shield-success {
    width: rw(46.8px);
    margin-top: rs(15px);
  }
</style>
